<% include ../partials/header %>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card p4 col-sm-10 col-md-8 col-lg-8">
            <h3 class="pt-5 text-center"><b>Evangelism Report</b></h3>
            <form class="p-4" action="/evangelism" method="POST">

                <!-- DATE -->
                <div class="form-group d-inline-flex align-items-center">
                    <label class="pt-3" for="date">Date:</label>
                    <input class="ml-2 mt-2 form-control" type="date" name="date" id="date" value="<%= new Date().getFullYear() %>-<%= (new Date().getMonth()+1).toString().padStart(2, "0") %>-<%= new Date().getDate() %>" required>
                </div>
                <br>

                <!-- LOCATION -->
                <div class="form-group pb-3">
                    <div class="pt-3 d-inline-flex align-items-center">
                        <label for="date">Location:</label>
                        <input class="m-2 form-control" type="text" name="location" id="location" value="" required>
                    </div>
                    <p class="notabene">Give precise address of where you reached.</p>
                </div>

                <!-- COUNT -->
                <fieldset>
                    <legend><b>A.  Count</b></legend>
                    <p class=" notabene"> Put '0' if your answer below is none.</p>
                    <div class="form-group">
                        <label for="">How many people did you reach?</label>
                        <input type="number" id="reached" min="1" value="1" name="evangelism" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Of those reached, how many ONLY got <b>filled with the Holy Ghost</b> but didn't prophesy?</label>
                        <input type="number" id="filled" min="0" name="evangelism" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Of those reached, how many ONLY got <b>saved</b> but not filled with the Holy Ghost?</label>
                        <input type="number" id="saved" min="0" name="evangelism" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Of those reached, how many <b>prophesied</b>?</label>
                        <input type="number" id="prophesied" min="0" name="evangelism" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Of those reached, how many got <b>healed</b>?</label>
                        <input type="number" id="healed" min="0" name="evangelism" class="form-control" required>
                    </div>
                </fieldset>

                
                <!-- DETAILS -->
                <fieldset class="element-playground">
                    <legend class="pt-5"><b>B.  Details</b></legend>
                    <label for="" class="text-justify">Indicate <b>details</b> of each person you reached out to and whether they got saved, filled or prophesied. Fill this first and then use <i class="fas fa-plus-circle" id="sample-icon"></i> to add more souls.</label>
                    <div class="form-group duplicate-element">
                        <input class="form-control firstname" type="text" name="details[firstname]" placeholder="Firstname" id="firstname" autofocus>
                        <input class="form-control" type="text" name="details[lastname]" placeholder="Lastname">
                        <input class="form-control" type="tel" name="details[mobile]" placeholder="Phone Number" minlength="11" maxlength="11">
                        <input class="form-control" type="email" name="details[email]" placeholder="Email">
                        <select class="form-control" name="details[gender]">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                        <select class="form-control status" name="details[status]">
                            <option value="Saved">Saved</option>
                            <option value="Filled">Filled</option>
                            <option value="Prophesied">Prophesied</option>
                        </select>
                        <select class="form-control" name="details[language]">
                            <option value="--">-Select primary language-</option>
                            <option value="Amhari">Amhari</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Bengali">Bengali</option>
                            <option value="Chinese">Chinese</option>
                            <option value="English">English</option>
                            <option value="English (Pidgin)">English (Pidgin)</option>
                            <option value="French">French</option>
                            <option value="German">German</option>
                            <option value="Hausa">Hausa</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Igbo">Igbo</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Italian">Italian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Lahnda">Lahnda</option>
                            <option value="Oromo">Oromo</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Russian">Russian</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Swahili">Swahili</option>
                            <option value="Shona">Shona</option>
                            <option value="Yoruba">Yoruba</option>
                            <option value="Zulu">Zulu</option>
                        </select>
                        <textarea class="form-control" name="details[address]" placeholder="Address"></textarea>
                        <textarea class="form-control" name="details[info]" placeholder="Additional Information"></textarea>
                    </div>
                </fieldset>
                <div>
                    <i class="fas fa-plus-circle new-element"></i>
                </div>
                    
                    
                <!-- HEALING -->
                <fieldset>
                    <legend class="pt-5"><b>C.  Healing Cases</b></legend>
                    <div class="form-group">
                        <label for="" class="text-justify">Indicate <b>names</b> of people who got healed, their age and how long they have been in that condition</label>
                        <textarea name="healing" class="form-control" id="healing" cols="10" rows="5"></textarea>
                    </div>
                </fieldset>

                <br>

                <input type="submit" class="mt-4 btn btn-warning">
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer %>