<% include ../partials/header %>




<main class="column">
    <div class="list-workers">
        <h2>List of <span id="present">All</span> Disciples</h2>
        <div class="text-center p-3">
            <a class="btn btn-success btn-sm" href="/disciple/new">Add New Disciple</a>
        </div>
        <ol class="disciple-list">
            <% disciples.forEach((disciple, i) => { %>
                <li class="add-remove-worker">
                    <div class="d-inline">
                        <%= disciple.name%>
                    </div>
                    <div class="d-inline">
                        <a href="/disciple/<%= disciple._id %>/edit" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="#" data-id="<%= disciple._id %>" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </li>
            <% }); %>
        </ol>
    </div>
</main>
<p></p>
<% include ../partials/footer %>