<% include ../partials/header %>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-12 py-3">
			<form action="/validatemail/<%= thisUser._id %>" method="POST">
				<legend>Validate your Email</legend>
				<div class="form-group py-2">
					<label for="email">Provide your email <%= thisUser.username %></label>
					<input type="email" name="email" autofocus class="form-control" required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Send">
				</div>
			</form>
		</div>
	</div>
</div>
<% include ../partials/footer %>