</section>
<br>
<footer class="container">
    <div class="row justify-content-center">
        <a href="http://foz.ng">&copy; FOZMedia</a>
    </div>
</footer>
<br>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>