</section>
<br>
<footer class="container">
    <div class="row justify-content-center">
        <a href="https://foz.ng">&copy; FOZ</a>
    </div>
</footer>
<br>
<script type="text/javascript" src="/evangelism.js"></script>
<script type="text/javascript" src="/reportToPastor.js"></script>
<script type="text/javascript" src="/menu.js"></script>
<script type="text/javascript" src="/main.js"></script>
<!-- <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script> -->
</body>

</html>