</section>

<footer class="container">
    <div class="row justify-content-center">
        <a href="http://fozmedia.com.ng">&copy; FOZMedia</a>
    </div>
</footer>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>