</section>

<footer class="container">
    <div class="row justify-content-center">
        <a href="https://ardwatter.com">&copy; Ardwatter Business Solutions</a>
    </div>
</footer>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>