<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance Report App</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link id="cdn" rel="stylesheet" type="text/css" href="<%= cdn %>">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
</head>

<body>
    <section class="container">
        <div>
            <% if(loggedInWorker){ %>
                <a class="btn btn-sm">Welcome <%= loggedInWorker.username %></a>
                <a class="btn btn-sm" href="/logout">Logout</a>
                <a class="btn btn-sm" href="/report">Homepage</a>
                <a class="btn btn-sm" href="/profile">My Profile</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } %>
        </div>
        <div class="container">
        <% if( error.length === 0 && success.length === 0 ) { %>
                <% } else if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } else if (success) { %>
                    <div class="alert alert-success" role="alert">
                        <p>Hi success</p>
                    </div>
                <% } else { %>
                        <p>Hello</p>
                <% } %>
        </div>