<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance Report App</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link id="cdn" rel="stylesheet" type="text/css" href="<%= cdn %>">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
</head>

<body>
    <section class="container">
        <div>
            <% if(loggedInWorker){ %>
                <a class="btn btn-md">Welcome <%= loggedInWorker.firstname %></a>
                <a class="btn btn-md" href="/logout">Logout</a>
                <a class="btn btn-md" href="/report">Homepage</a>
                <a class="btn btn-md" href="/profile">My Profile</a>
            <% } else { %>
                <a class="btn btn-md p-2" href="/login">Login</a>
                <a class="btn btn-md p-2" href="/register">Register</a>
            <% } %>
        </div>
        <br>
        <div class="container">
        <% if(success && success.length !== 0 ) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
        <% } else if (error && error.length !== 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } else { %>
                <% } %>
        </div>
    <% if(loggedInWorker) { %>
        <div class="heading justify-content-between">
            <a class="btn btn-success btn-sm m-1" href="/disciple/new">Add New Disciple</a>
            <a class="btn btn-success btn-sm m-1" href="/report/new">Write New Report</a>
            <a class="btn btn-success btn-sm m-1" href="/prayer">Prayer Group Report</a>
            <a class="btn btn-success btn-sm m-1" href="/prayerchain">Prayer Chain Report</a>
        <% if(loggedInWorker.isLMA) { %>
            <a class="btn btn-info btn-sm m-1" href="/lma">LMA Admin</a>
        <% } %>
    <% } %>