<% include partials/header %>

<% if( foundWorker._id == loggedInWorker._id ) { %>
    <a class="btn btn-primary btn-sm" href="/disciple/new">Add New Disciple</a>
<% } %>

</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>List of <span id="present">All</span> Disciples</h2>
            <ol class="list">
                
            </ol>
        </div>
        <button class="btn btn-primary" id="export">Submit Report</button>
        <p></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>List of Absent Disciples</h2>
            <ol class="absent">
            </ol>
        </div>
    </div>
    <div>

    </div>
</main>
<p></p>
<textarea class="form-control" id="presentWorkers" val="" name="name" placeholder="Present workers appear here"
    rows="8"></textarea>
<button class="btn btn-success" id="copier">Copy Text</button>
<p></p>
<% include partials/footer %>