<% include ./partials/header2 %>
<div class="row justify-content-center m-5">
	<div class="col-sm-10 col-md-8 col-lg-6">
		<h3 class="text-center my-4">Thank you for providing your email address!</h3>
		<p class="text-justify">A mail has been sent to <%= givenEmail %>.<br>Kindly open the mail and follow the instructions.</p>
	</div>
</div>
<% include ./partials/footer %>