<% include partials/header %>
    <div class="heading">
        <p></p>
        <h2>Welcome <%= loggedInWorker.firstname %> <%=  loggedInWorker.surname %></h2>
        <p></p>
    </div>

    <main>
        <div class="listings">
                
        <!-- CORNER FOR EVANGELISM -->
        <!-- CORNER FOR DISCIPLESHIP -->
        <!-- CORNER FOR PRAYER GROUP -->
        <!-- CORNER FOR PRAYER CHAIN -->
        </div>
    </main>
    </section>
<% include partials/footer %>