<% include partials/header %>
    <!-- <div class="heading">
        <p></p>
        <h2>Welcome <%#= loggedInWorker.firstname %> <%#=  loggedInWorker.surname %></h2>
        <p></p>
    </div> -->

    <main>
        <div class="listings">
            <h2>What would you like to do?</h2>
            <p>Send report for people expected in tomorrow's meeting. Click here</p>
            <p>Send evangelism report. Click here</p>
            <p>Send report of discipleship / follow-up done during the week. Click here</p>
        </div>
    </main>
    </section>
<% include partials/footer %>