<% include partials/header %>
    <div class="heading">
        <!-- <h1>Attendance <span>Report</span> Generator</h1>
        <h2 class="head">An app to simplify generating attendance reports</h2> -->
        <p></p>
        <h2>Welcome to the Application that makes attendance reporting easy</h2>
        <p></p>
    </div>

    <main>
        <div class="listings">
        <h2>This application helps to:</h2>
        <ul>
            <li>Send attendance Reports</li>
            <li>Compile reports</li>
            <li>Report prayer chain participation</li>
            <li>Compile discipleship reports</li>
            <li>Report Prayer Group participation</li>
            <li>Compile outreach reports</li>
            <li>Help view reports of workers (if in LMA)</li>
            <li>See how workers are doing</li>
            <li>Help with statistics and figures</li>
            <li>So, you know how well you are doing</li>
        </ul>
        </div>
    </main>
<% include partials/footer %>