<!DOCTYPE html>
<head>
    <title>Attendance Report App</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>Attendance Report Generator</h1>
<h2>An app to simplify generating attendance reports</h2>
<section>
    <form action="/" method="POST" >
        <input type="text" id="addNewWorker" name="name" placeholder="Add new worker to database">    
    </form>
</section>

<section>
    <h2>List of Workers</h2>
    <ol class="list">
    </ol>
    <button id="export">Export Data</button>
    <p></p>
    <textarea id="presentWorkers" val="" name="name" placeholder="Present Workers appear here" 
    rows="4" cols="50"></textarea>
    <br/>
    <button id="copier">Copy Text</button>
</section>

<section>
    <ul>
        
    </ul>
</section>

    <script type="text/javascript" src="main.js"></script>
</body>
</html>