<% include partials/header %>
<div class="heading">
    <!-- <h1>Attendance <span>Report</span> Generator</h1>
    <h2 class="head">An app to simplify generating attendance reports</h2> -->
    <p></p>
    <!-- <p>You are logged in as <span><b><%= //loggedInWorker.username %></b></span>:<input class="form-control input-class" type="text" id="addNewWorker" name="name"
            placeholder="Add new worker to database" /></p> -->
    <a class="btn btn-primary btn-sm" href="/prayerchain">Back to Prayer Chain Reports</a>
    <!-- <a class="btn btn-success btn-sm" href="/report/new">Write New Report</a> -->
</div>

<main class="row">
    <div class="col-md-12">
        <!-- MakeUp -->
        <h3>Report Prayer Chain</h3>
        <br>
        <form action="/prayerChain" method="POST">
            <!-- <div class="container" > -->
                <div class="row p-1">
                    <div class="col-md-2">
                        <label for="starttime">Start Time</label>
                    </div>
                    <div class="col-md-2">
                        <input id="starttime" type="time" name="starttime" min="00:00" max="07:00">
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-md-2">
                        <label for="endtime">End Time</label>
                    </div>
                    <div class="col-md-2">
                        <input id="endtime" type="time" name="endtime" min="01:00" max="08:00">
                    </div>
                </div>
                <br>
                <div class="row ml-auto mr-auto p-1">
                    <div class="col-md-3 justify-content-center">
                        <input class="btn btn-success btn-block btn-sm" type="submit">
                    </div>
                </div>
            <!-- </div> -->
        </form>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>