<% include partials/header %>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 card card-body bg-light">
            <h1 class="text-center">Complete Registration</h1>
            <h5 class="m-2 text-center">...so, you are able to send your reports</h5>
            <p></p>
            <form class="text-center" action="/regmail/<%= token %>" method="POST">
                <fieldset class="m-4">
                    <legend>Login Credentials</legend>
                    <hr>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 align-items-start" for="username">Username:</label>
                        <input class="m-1 float-left form-control" type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="surname">Firstname:</label>
                        <input class="m-1 float-left form-control" type="text" id="firstname" name="firstname" placeholder="Firstname" required>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="surname">Surname:</label>
                        <input class="m-1 float-left form-control" type="text" id="surname" name="surname" placeholder="Surname" required>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="emai">Email:</label>
                        <input class="m-1 float-left form-control" type="email" id="email" name="email" value="<%= email %>" readonly>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="username">Password:</label>
                        <input class="m-1 form-control" type="password" id="password" name="password" placeholder="Password" required>
                        <div class="d-flex">
                            <input type="checkbox" class="my-2 mr-2 password-visible"/> <small class="my-2">Show Password</small>
                        </div>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="username">Confirm password:</label>
                        <input class="m-1 form-control" type="password" id="password2" name="password2" placeholder="Confirm password" required>
                        <div class="d-flex">
                            <input type="checkbox" class="my-2 mr-2 password-visible"/> <small class="my-2">Show Password</small>
                        </div>
                    </div>
                </fieldset>

                <!-- CHURCH DETAILS -->
                <fieldset class="m-4">
                    <legend>Church Details</legend>
                    <hr>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="church">Church:</label>
                        <select class="m-1 form-control" name="church" id="church" required>
                            <option value="">Select an option</option>
                            <option value="Yaba">Yaba</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="fellowship">Fellowship:</label>
                        <select class="m-1 form-control" name="fellowship" id="fellowship" required>
                            <option value="">Select an option</option>
                            <option value="Yabatech">Yabatech</option>
                            <option value="New Garage">New Garage</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="department">Department:</label>
                        <select class="m-1 form-control" name="department" id="department" required>
                            <option value="">Select an option</option>
                            <option value="Technical Team">Technical Team</option>
                            <option value="Display Team">Display Team</option>
                            <option value="Guest Ministries">Guest Ministries</option>
                            <option value="Security">Security</option>
                            <option value="Operations Division">Operations Division</option>
                            <option value="Works">Works</option>
                            <option value="Worship Arts">Worship Arts</option>
                            <option value="Children Ministry">Children Ministry</option>
                            <option value="Livingword Media">Livingword Media</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 float-left" for="prayerGroup">Prayer Group:</label>
                        <select class="m-1 form-control" name="prayerGroup" id="prayerGroup" required>
                            <option value="">Select an option</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday Morning">Saturday Morning</option>
                            <option value="Saturday Evening">Saturday Evening</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Date you completed the Membership Class:</label>
                        <input type="date" name="membership-class" class="form-control" required/>
                    </div>
                </fieldset>

                <!-- BIO -->
                <fieldset class="m-2">
                    <legend>Bio</legend>
                    <hr/>
                    <div class="d-flex m-2">
                        <label class="p-3">Gender: </label>
                        <div class="d-flex justify-content-between">
                            <div>
                                <label class="px-3 pt-3">Male </label>
                                <input type="radio" name="gender" value="Male" class="" />
                            </div>
                            <div>
                                <label class="px-3 pt-3">Female </label>
                                <input type="radio" name="gender" value="Female" class="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Date of Birth:</label>
                        <input type="date" name="date-of-birth" class="form-control" required/>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Address:</label>
                        <textarea type="text" name="address" placeholder="Address" class="form-control" required></textarea>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Mobile Number:</label>
                        <input type="tel" name="mobile-number" minlength="11" maxlength="11" placeholder="08012345678" class="form-control" required/>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Marital Status:</label>
                        <select name="marital-status" class="form-control" required>
                            <option value="Single">Single</option>
                            <option value="Engaged">Engaged</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Employment Status:</label>
                        <select name="employment-status" class="form-control" required>
                            <option value="Eemployed">Employed</option>
                            <option value="Self-employed">Self-employed</option>
                            <option value="Student">Student</option>
                            <option value="Unemployed">Unemployed</option>
                        </select>
                    </div>
                </fieldset>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
                        <button class="btn btn-md btn-primary btn-block m-2">Submit</button>
                    </div>
                </div>
            </form>
            <hr>
            <p class="text-center">Already a member? <a href="/login">Login</a></p>
        </div>
    </div>
</section>
<% include partials/footer %>