<% include partials/header %>
<div class="heading">
    <h1>Attendance <span>Report</span> Generator</h1>
    <h2 class="head">An app to simplify generating attendance reports</h2>
    <p></p>
    <p>You are logged in as <span><b><%= worker.name %></b></span>:<input class="form-control input-class" type="text" id="addNewWorker" name="name"
            placeholder="Add new worker to database" /></p>
    <p></p>
</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>List of <span id="present">All</span> Workers</h2>
            <ol class="list">
            </ol>
        </div>
        <button class="btn btn-primary" id="export">Export Data</button>
        <p></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>List of Absent Workers</h2>
            <ol class="absent">
            </ol>
        </div>
    </div>
    <div>

    </div>
</main>
<p></p>
<textarea class="form-control" id="presentWorkers" val="" name="name" placeholder="Present workers appear here"
    rows="8"></textarea>
<button class="btn btn-success" id="copier">Copy Text</button>
<p></p>
<% include partials/footer %>