<% include ../partials/header %>
</div>

<div class="container">
    <div class="row card d-flex justify-content-center">
            <h3 class="pt-5 text-center"><b>Workers Daily Activity Report</b></h3>
                <div class="text-center">
                    <a class="btn btn-sm btn-primary col-sm-6 col-md-4 col-lg-2 my-3" href="/new/lockdown/new">Write new report</a>
                </div>
    </div>
</div>
<% include ../partials/footer %>