body {
    background-color: wheat;
    font-size: 1.2em;
}


h1 {
    font-family: 'Baloo', cursive;
    font-size: 2.5em;
    color: black;
}

h1 span {
    color: #7e6227;
}

h2.head {
    color: #7e6227;
    font-family: 'Lobster', cursive;
    text-align: left;
}

h2 {
    color: #7e6227;
    font-family: 'Baloo', cursive;
    font-size: 200%;
    text-align: center;
}

button:not(#report) {
    width: 100%;
    /* max-width: 200px; */
    margin: 10px;
}

.heading {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 15px 0 15px 0;
}

.input-class {
    width: 50%;
}

.list, .absent {
    width: 300px;
    padding: 20px;
}

.list-workers {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.list-disciples {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.list > .hoverer:hover {
    background-color: rgb(247, 201, 199);
}

.hand:hover {
    cursor: pointer;
}

.absent > .hoverer:hover {
    background-color: rgb(199, 224, 247);
}

.hoverer, .hoverer2 {
    border-radius: 3px;
}

.listings {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.date {
    font-size: 0.9em;
}

.wrap {
    width: 400px;
}


/* 
Table Stylings
*/
th, td {
    padding: 5px 12px;
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    padding: 2px;
    width: 100%; 
    border: 1px solid gray;
}

/* th:hover, td:hover {
    background-color: #7e7c7c;
    color: white;
} */

/* Zebra striping */
tbody > tr:nth-of-type(odd) { 
  background: rgb(243, 228, 200);
}

th { 
  background: rgb(255, 240, 212);
  color: black; 
  font-weight: 400; 
  border: 1px solid #CEBF9F; 
}
td { 
  padding: 6px; 
  border: 1px solid #CEBF9F; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block; 
        border: none;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #CEBF9F; 
        margin: 0px 0px 5px 0px;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #CEBF9F; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: wrap;
        font-weight: 500;
	}
	
	/* Label the data */
	td:nth-of-type(1):before { content: "Week"; }
	td:nth-of-type(2):before { content: "Week: Mon to Sun"; }
	td:nth-of-type(3):before { content: "Day Prayed"; }
    td:nth-of-type(4):before { content: "Prayed?"; }
    td:nth-of-type(5):before { content: "Delete"; }
    

	.allPrayer td:nth-of-type(n):before { content: ""; }
    .allPrayer td:nth-of-type(1):before { content: "Name"; }

    .allLockdown td:nth-of-type(n):before { content: ""; }
    .allLockdown td:nth-of-type(1):before { content: "Date"; }

    .allLMALockdown td:nth-of-type(n):before { content: ""; }
    .allLMALockdown td:nth-of-type(1):before { content: "Date"; }

    #prayer-table td:nth-of-type(4):before, td:nth-of-type(5):before {
        text-align: left;
    }
	
}


.notify {
    color: #28A745;
}

.nodisplay {
    display: none;
}

.small-text {
    font-size: 12pt;
    color: grey;
}

.no-underline:hover {
    text-decoration: none;
}

.prayer-del-btn {
    color: rgb(255, 37, 37);
    margin: auto;
}

.prayer-del-btn:hover {
    color: rgb(172, 20, 20);
    font-weight: 900px;
    text-decoration: none;
}

.line-through {
    text-decoration: line-through red;
}

#prayer-table td:nth-of-type(5) {
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.cover {
    border-top: 1px solid lightgray;
}

hr {
    /* border: 1px solid grey; */
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.notabene {
    font-size: 11pt;
    color: red;
}



/* ALL LOCKDOWN TABLE */
/* Force table to not be like tables anymore */
	table.allLockdown thead, .allLockdown tbody, .allLockdown tr, .allLockdown td { 
        display: block; 
        border: none;
    }

    table.allLMALockdown {
        display: table;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.allLockdown thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.allLockdown tr { 
        border: 1px solid #CEBF9F; 
        margin: 0px 0px 5px 0px;
    }
	
	.allLockdown td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #CEBF9F; 
		position: relative;
		padding-left: 50%; 
	}
	
	.allLockdown td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: wrap;
        font-weight: 500;
	}
	
	/* Label the data */
	.allLockdown td:nth-of-type(1):before { content: "Date"; }
	.allLockdown td:nth-of-type(2):before { content: "Prayer Chain"; }
	.allLockdown td:nth-of-type(3):before { content: "Exhortation Summary"; }
    .allLockdown td:nth-of-type(4):before { content: "Discipleship"; }
    .allLockdown td:nth-of-type(5):before { content: "Evangelism"; }
    .allLockdown td:nth-of-type(6):before { content: "Bible Study"; }
    .allLockdown td:nth-of-type(7):before { content: "Facebook"; }
    .allLockdown td:nth-of-type(8):before { content: "Telecast"; }
    .allLockdown td:nth-of-type(9):before { content: "Study Group"; }
    .allLockdown td:nth-of-type(10):before { content: "Optional"; }