body {
    background-color: wheat;
    font-size: 1em;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: #7E6227;
    font-weight: 600;
}

.container {
    padding-top: 10px;
}

.listings-heading h1 {
    color: #7E6227;
}

.overview {
    display: flex;
}

.listings div {
    padding-top: 10px;
    margin-top: 10px;
}

.overview > main  {
    flex-basis: 50%;
}

.box {
    border: 1px solid #c7b073;
    border-radius: 4px;
}

.btn {
    outline: none !important;
    box-shadow: 1px 1px 0.5px #473816 !important;
}

.btn:active, .btn:focus {
    outline: none !important;
    box-shadow: 1px 1px 0.5px 1.5px #7E6227 !important;
}

.btn-primary {
    background-color: #7E6227 !important;
    border: 1px solid #473816;
}

.btn-primary:hover {
    background-color: #66511f !important;
    outline: none;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #66511f !important;
    outline: none !important;
    box-shadow: 1px 1px 0.5px 1.5px #7E6227 !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    border-color: #7E6227 !important;
}

.box + p {
    padding-top: 1em;
}

.overview > aside {
    flex-basis: 50%;
}

a:hover {
    text-decoration: underline;
    color: #7E6227;
}

a {
    color: #473816;
}

@media screen and (max-width: 768px) { 
    .overview {
        display: block;
    }

}

h1 span {
    color: #7e6227;
}

h2.head {
    color: #7e6227;
    font-family: 'Lobster', cursive;
    font-weight: 600;
    text-align: left;
}

h2 {
    color: #7e6227;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
}


.nav-bg {
    opacity: 0.8;
    background-color: #CEBF9F;
}

.nav-bg-2 {
    background-color: #F5DEB3;
    border-bottom: 1px solid #c7b073;
}

button:not(#report) {
    /* width: 100%; */
    /* max-width: 200px; */
    margin: 10px;
}

.add-remove-worker > .btn { 
    float: right;
}

.heading {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 15px 0 15px 0;
}

.input-class {
    width: 50%;
}

.list, .absent {
    width: 300px;
    padding: 20px;
}

.list-workers {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.list-disciples {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.list > .hoverer:hover {
    background-color: rgb(247, 201, 199);
}

.hand:hover {
    cursor: pointer;
}

.absent > .hoverer:hover {
    background-color: rgb(199, 224, 247);
}

.hoverer, .hoverer2 {
    border-radius: 3px;
}

.listings {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    margin: 5px;
}

.listings-heading {
    background-color: rgb(248, 238, 220);
    border: 1px solid #7e622756;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.date {
    font-size: 0.9em;
}

.wrap {
    width: 400px;
}



/* MENU / NAVIGATION */

/* .abc:hover {
    before:
} */

.home-link > p {
    font-size: 14px;
}

.home-link {
    color:  #7E6227; 
    padding-left: 0;
}


.home-link:hover {
    color: #ad8413; ;
    text-decoration: none;
    /* outline: thick; */
    scale: 1.05;
}

.admin-link:hover {
    text-decoration: none;
    scale: 1.05;
}


/* 
Table Stylings
*/
th, td {
    padding: 5px 12px;
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    padding: 2px;
    width: 100%; 
    border: 1px solid gray;
}

/* th:hover, td:hover {
    background-color: #7e7c7c;
    color: white;
} */

/* Zebra striping */
tbody > tr:nth-of-type(odd) { 
  background: rgb(243, 228, 200);
}

th { 
  background: rgb(255, 240, 212);
  color: black; 
  font-weight: 400; 
  border: 1px solid #CEBF9F; 
}
td { 
  padding: 6px; 
  border: 1px solid #CEBF9F; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block; 
        border: none;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #CEBF9F; 
        margin: 0px 0px 5px 0px;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #CEBF9F; 
		position: relative;
		padding-left: 40%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
        white-space: wrap;
        font-weight: 500;
	}
	
	/* Label the data */
	td:nth-of-type(1):before { content: "Week"; }
	td:nth-of-type(2):before { content: "Week: Mon to Sun"; }
	td:nth-of-type(3):before { content: "Day Prayed"; }
    td:nth-of-type(4):before { content: "Prayed?"; }
    td:nth-of-type(5):before { content: "Delete"; }
    

	.allPrayer td:nth-of-type(n):before { content: ""; }
    .allPrayer td:nth-of-type(1):before { content: "Name"; }

    .allLockdown td:nth-of-type(n):before { content: ""; }
    .allLockdown td:nth-of-type(1):before { content: "Date"; }

    .allLMALockdown td:nth-of-type(n):before { content: ""; }
    .allLMALockdown td:nth-of-type(1):before { content: "Date"; }

    #prayer-table td:nth-of-type(4):before, td:nth-of-type(5):before {
        text-align: left;
    }

    #table-lockdown-one td:nth-of-type(1):before { content: "S/N"; }
    #table-lockdown-one td:nth-of-type(2):before { content: "Name"; }
    #table-lockdown-one td:nth-of-type(3):before { content: "Time"; }
    #table-lockdown-one td:nth-of-type(4):before { content: "Prayer"; }
    #table-lockdown-one td:nth-of-type(5):before { content: "Discipleship"; }
    #table-lockdown-one td:nth-of-type(6):before { content: "Evangelism"; }
    #table-lockdown-one td:nth-of-type(7):before { content: "Bible Study"; }
    #table-lockdown-one td:nth-of-type(8):before { content: "Exhortation"; }
    #table-lockdown-one td:nth-of-type(9):before { content: "Facebook"; }
    #table-lockdown-one td:nth-of-type(10):before { content: "Study Group"; }
    #table-lockdown-one td:nth-of-type(11):before { content: "Telecast";}
    #table-lockdown-one td:nth-of-type(12):before { content: "Optional";}
	
}


.notify {
    color: #28A745;
}

.nodisplay {
    display: none;
}

.small-text {
    font-size: 12pt;
    color: grey;
}

.greyed {
    color: grey;
}

.no-underline:hover {
    text-decoration: none;
}

.prayer-del-btn {
    color: rgb(255, 37, 37);
    margin: auto;
}

.prayer-del-btn:hover {
    color: rgb(172, 20, 20);
    font-weight: 900px;
    text-decoration: none;
}

.line-through {
    text-decoration: line-through red;
}

#prayer-table td:nth-of-type(5) {
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.cover {
    border-top: 1px solid lightgray;
}

hr {
    /* border: 1px solid grey; */
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.notabene {
    font-size: 11pt;
    color: grey;
}

.notabene::before {
    content: "*";
    color: red;
}



/* ALL LOCKDOWN TABLE */
/* Force table to not be like tables anymore */
table.allLockdown thead, .allLockdown tbody, .allLockdown tr, .allLockdown td { 
    display: block; 
    border: none;
}

table.allLMALockdown {
    display: table;
    font-size: small;
}

/* Hide table headers (but not display: none;, for accessibility) */
.allLockdown thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.allLockdown tr { 
    border: 1px solid #CEBF9F; 
    margin: 0px 0px 5px 0px;
}

.allLockdown td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #CEBF9F; 
    position: relative;
    padding-left: 40%; 
}

.allLockdown td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 35%; 
    padding-right: 10px; 
    white-space: wrap;
    font-weight: 500;
}

/* Label the data */
.allLockdown td:nth-of-type(1):before { content: "Date"; }
.allLockdown td:nth-of-type(2):before { content: "Prayer Chain"; }
.allLockdown td:nth-of-type(3):before { content: "Exhortation"; }
.allLockdown td:nth-of-type(4):before { content: "Discipleship"; }
.allLockdown td:nth-of-type(5):before { content: "Evangelism"; }
.allLockdown td:nth-of-type(6):before { content: "Bible Study"; }
.allLockdown td:nth-of-type(7):before { content: "Facebook"; }
.allLockdown td:nth-of-type(8):before { content: "Telecast"; }
.allLockdown td:nth-of-type(9):before { content: "Study Group"; }
.allLockdown td:nth-of-type(10):before { content: "Optional"; }
.allLockdown td:nth-of-type(11):before { content: "Delete"; }


.text-paragraphs {
    white-space: pre-line;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 #no-ampm::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }


 /* EVANGELISM CORNER */

 /* Label the data */
#evangelismTable td:nth-of-type(1):before { content: "Date"; }
#evangelismTable td:nth-of-type(2):before { content: "Location"; }
#evangelismTable td:nth-of-type(3):before { content: "Total Reached"; }
#evangelismTable td:nth-of-type(4):before { content: "Saved"; }
#evangelismTable td:nth-of-type(5):before { content: "Filled"; }
#evangelismTable td:nth-of-type(6):before { content: "Prophesied"; }
#evangelismTable td:nth-of-type(7):before { content: "Healed"; }
#evangelismTable td:nth-of-type(8):before { content: "Details"; }
#evangelismTable td:nth-of-type(9):before { content: "Healing Case"; }
#evangelismTable td:nth-of-type(10):before { content: "Delete / Edit"; }

thead {
    font-weight: 600;
}


/* DISCIPLESHIP / REPORT CORNER */

.disc-box{
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-height: 100px;
    width: 100%;
    padding: 10px 25px;
}

.form-box{
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 100%;
    padding: 0 15px;
    line-height: 0.7;
}

select.scc-form, li.scc-form {
    width: 80%;
}

.scc-form {
    padding-left: 10px;
    border: none;
    background-color: #F8EEDC;
    color: black;
}


/* COPY TEXT */
.copy-text {
    display: flex;
}

.copy-text > h3 {
    display: none;
}

.copy-text > textarea {
    height: 0;
    width: 0;
    position: absolute;
    left: -100px;
}

/* ADD OR REMOVE WORKER */
.add-remove-worker {
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid darkgray;
    padding: 15px;
}

.add-remove-worker div a {
    margin: 2px;
}

.list-no-left {
    padding-left: 0;
}

ol.disciple-list li div:nth-of-type(2n) {
    float: right;
}

/* .hover-appear:hover {
    border: 1px solid #F5DEB3;
} */