<% include ./../partials/header %>
<div class="container">
    <p></p>
    <a class="btn btn-primary btn-sm" href="/prayerchain">Back to Prayer Chain Reports</a>
</div>

<main class="container" id="prayer-chain-new">
    <div class="col-md-12">
        <h3 class="pt-3">Report Prayer Chain</h3>
        <br>
        <form  action="/prayerchain" method="POST"> 
            <% if(foundPrayerChain){ %>
                <p>Good morning sir,</br>I have started praying</br><%= moment(foundPrayerChain.start).format("HH:mm") %></p>
                <% if(foundPrayerChain.end){ %>
                    <p>Good morning sir,</br>I am done praying</br><%= moment(foundPrayerChain.end).format("HH:mm") %></p>
                <% } else { %>
                    <button href="/prayerchain" class="btn btn-sm btn-primary">End Praying</button>
                <% } %>
            <% } else if (Date.now() < moment("08:00","HH:mm").valueOf()) { %>
                <button href="/prayerchain" class="btn btn-sm btn-primary">Start Praying</button>
            <% } else { %>
                <p>Sorry, you are trying to pray at a late time!</p>
            <% } %>
        </form>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>