<% include ./../partials/header %>
<div class="container">
    <p></p>
    <a class="btn btn-primary btn-sm" href="/prayerchain">Back to Prayer Chain Reports</a>
</div>

<main class="container" id="prayer-chain-new">
    <div class="col-md-12">
        <h3 class="pt-3">Report Prayer Chain</h3>
        <br>
        <form id="prChform" action="" method="POST"> 
            <%= foundPrayerChain %> 
        </form>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>