<% include ../partials/header %>
</div>
<div class="heading">
    <a class="btn btn-primary btn-sm" href="/disciple/new">Add New Disciple</a>
    <a class="btn btn-success btn-sm" href="/expected">Back to All Reports</a>
</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="list-workers">
                <h2><i class="fas fa-pen-alt pr-3" aria-hidden="true"></i>New Report</h2>
                <p class="notabene">Click on a name in the <a href="#disciples-pane">disciples pane</a> to add to this list OR click on a name here to remove from the list</p>
                <div class="form-group d-flex form-box">
                    <label for="title" class="mt-2">Title: </label>
                    <select name="title" id="title" class="ml-2 scc-form small-text">
                        <option value="Expected Attendee(s)">Expected Attendee(s)</option>
                    </select>
                </div>
                <div class="form-group d-flex form-box">
                    <label for="for" class="mt-2">For: </label>
                    <select name="for" id="for" class="ml-2 scc-form small-text">
                        <option value="Sunday" selected>Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                </div>
                <ol class="list disc-box">
                    
                </ol>
            </div>
        
        <p></p>
    </div>
    <div id="disciples-pane" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>Disciples Pane</h2>
            <i></i>
            <h5><a class="hoverer hand" href="/disciple/new"><i class="fas fa-user-plus"></i> Add New Disciple</a> <span class="notabene">(Adds new disciple to this list)</span></h5>
            <ol class="absent">
                <% allDisciples.forEach((disciple) => { %>
                    <li class="hoverer hand scc-form" id="<%= disciple._id %>"><%= disciple.name %></li>
                <% }); %>
            </ol>
        </div>
    </div>
    <div>

    </div>
</main>
<p></p>
<textarea class="form-control" id="info" val="" name="info" placeholder="Additional information"
    rows="8"></textarea>
    <form action="/expected" method="POST" class="">
        <button class="btn btn-primary text-center" id="export-expected-attendance">Submit Report</button>        
    </form>
<p></p>
<% include ../partials/footer %>