<% include ../../partials/header_lma %>
    <div class="d-flex heading row justify-content-between">
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/all/discipleship"><i class="fas fa-2x fa-user-friends"></i><p>Discipleship Report</p></a>
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/all/attendance"><i class="fas fa-2x fa-handshake"></i><p>Attendance Report</p></a>
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/all/evangelism"><i class="fas fa-2x fa-globe-africa"></i><p>Evangelism Report</p></a>
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/all/prayer"><i class="fas fa-2x fa-praying-hands"></i><p>Prayer Group Report</p></a>
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/all/prayerchain"><i class="fas fa-2x fa-pray"></i><p>Prayer Chain Report</p></a>
        <a class="text-center col-lg col-md col-sm-3 m-1" href="/lma/lockdown"><i class="fas fa-2x fa-house-user"></i><p>Stay-Home Report</p></a>
    </div>
<% include ../../partials/footer %>