<% include ../../partials/header %>

<div class="container">
<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <div class="mx-3">
            <h2>Expected Attendance for All</h2>
            <h3>Select a date to query for data</h3>
            <br/>
            <div class="row">
                <div class="col-sm-4">
                    <label class="m-2">For: </label>
                    <select class="report-for form-control mx-2">
                        <option value="<%= moment().format("dddd")%>" selected><%= moment().format("dddd")%></option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="m-2 pl-2">Fellowship: </label>
                    <select class="fellowship-chooser form-control mx-2">
                        <option value="New Garage">New Garage</option>
                        <option value="Yabatech">Yabatech</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="m-2 pl-2">Date: </label>
                    <input type="date" name="date-lockdown" id="expected" class="date-chooser form-control mx-2" />
                </div>
            </div>
            <div class="m-2">
                <div class="my-2">Total Workers: <span class="total-workers"></span></div>
                <div class="my-2">Total Disciples: <span class="total-disciples"></span></div>
            </div>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<table border="1" class="allLMALockdown" id="table-lockdown-one" style="overflow-x: auto;">
    <thead>
        <tr>
            <th><b>S/N</b></th>
            <th><b>Summoner</b></th>
            <th><b>Disciples / Invitees</b></th>
            <th><b>Info</b></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<a class="copy-list btn btn-sm mt-2">Copy</a>
<div class="mt-4">
    <h3>Workers with no Reports</h3>
    <ol class="no-report">
    </ol>
    <a class="copy-list-2 btn btn-sm mt-2">Copy</a>
</div>
<p></p>
</div>
<% include ../../partials/footer %>