<% include ../../partials/header %>


<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <div class="mx-3">
            <h3>Select a meeting to query for data</h3>
            <br/>
            <form action="/lma/expected/" id="form-attendance" class="meeting-to-query">
                <div class="d-inline-flex">
                    <select type="date" name="special-meeting" id="special-meeting" class="form-control mx-2">
                        <option value="null" id="">--Choose a Special Meeting--</option>
                        <option value="Believer's Convention" id="">Believer's Convention</option>
                        <option value="Charis Campmeeting" id="">Charis Campmeeting</option>
                    </select>
                </div>
            </form>
            <table class="m-3">
                <thead>
                    <td>Summoner</td>
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Mobile Number</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Accommodation</td>
                    <td>Fellowship</td>
                    <td>Church</td>
                    <td>Info</td>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include ../../partials/footer %>