<% include ../../partials/header %>


<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <div class="mx-3">
            <h3>Select a meeting to query for data</h3>
            <br/>
            <a href="/lma/expected/special" class="btn btn-sm btn-primary">Expected Attendance</a>
            <a href="/lma/attendance/special" class="btn btn-sm btn-primary">Attendance Report</a>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include ../../partials/footer %>